.wrapper {
    width: 65%;
    margin: 5em 0;

    display: flex;
    flex-direction: column;
    gap: 3em;
}

.container {
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5em;

    width: 100%;
}

.headerBox {
    align-self: self-start;
}

.footerBox {
    align-self: self-start;
}

.box {
    background-color: var(--secondary-background);
    box-shadow: 0px 0px 40px 0px rgba(40, 40, 40, 0.89);

    border-radius: 8px;
    padding: 1em;
    min-height: 34em;
    width: 48%;


    display: flex;
    flex-direction: column;
    transition: all .3s ease 0s;
}

.box:hover {
    box-shadow: 0px 0px 70px 0px rgba(12, 12, 12, 0.904);
    transform: scale(1.05);
}

.container img {
    width: 100%;
    border-radius: 6px;
    transition: all .3s ease 0s;
}

.container img:hover {
    transform: scale(1.15);
}

.info {
    padding: 1em;
    height: 155px;
}

.info h2 {
    font-family: inherit;
    font-weight: 800;
    margin-bottom: 10px;
}

.info p {
    font-family: inherit;
    font-size: var(--fs-400);
}

.links {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    width: 100%;
}

.links a {
    font-family: inherit;
    font-size: var(--fs-400);
    text-align: center;

    background-color: var(--accent-color);

    width: 100%;
    padding: 0.6em 0;
    margin: 10px;
    border-radius: 6px;
}

.links a:hover {
    background-color: var(--dark-purple);
}

@media only screen and (min-width: 600px) {}