ul {
    list-style: none;
}

.iconAndText {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.list li {
    font-size: 22px;

}

.list>li {

    font-size: 26px;
    margin-bottom: 16px;

}