ul {
    list-style: none;
}

.iconAndText {
    height: 40px;
    display: flex;
    align-items: center;
}

/* .list {} */

.iconAndText {
    height: 40px;
    display: flex;
    align-items: center;
}

.list>li {
    /* display: flex; */
    /* align-items: center; */
    font-size: 22px;
    margin-bottom: 16px;
}


/*
#62ffe1
#0aaae5
*/