.section {
    width: 50%;

    margin-top: 80px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.section a:hover {
    text-decoration: underline;
}

.section p {
    margin-bottom: 10px;
}