.section {
    width: 50%;

    margin-top: 4em;
    margin-bottom: 3.125em;

    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.section a {
    text-decoration: underline;
    text-underline-offset: 35%;
    animation: out 300ms ease 0s;
}

.section a:hover {
    text-underline-offset: 12%;
    animation: in 300ms ease 0s;
}

.section p {
    padding: 0 1em;
}

@keyframes in {
    0% {
        text-underline-offset: 35%;
    }

    100% {
        text-underline-offset: 12%;
    }
}

@keyframes out {
    0% {
        text-underline-offset: 12%;
    }

    100% {
        text-underline-offset: 35%;
    }
}

.passion {
    padding-bottom: .8em;
}

.socials p {
    padding-bottom: .3em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
        margin-top: 2.5em;
    }

    .section code {
        font-size: var(--fs-400);
    }

    .section p {
        font-size: var(--fs-300);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section {
        width: 75%;
        margin-top: 5em;
    }

    .section code {
        font-size: var(--fs-600);
    }

    .section p {
        font-size: var(--fs-500);
    }
}

/* Medium devices (landscape tablets, 830px and up) */
@media only screen and (min-width: 830px) {
    .section {
        width: 75%;
    }

    .section code {
        font-size: var(--fs-700);
    }

    .section p {
        font-size: var(--fs-700);
    }
}

@media only screen and (min-width: 1500px) {
    .section {
        width: 70%;
    }

}

@media only screen and (min-width: 1800px) {
    .section {
        width: 50%;
    }
}