.section {
    width: 50%;

    margin-top: 80px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.section a:hover {
    text-decoration: underline;
}

.section p {
    margin-bottom: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section {
        width: 100%;

        margin-top: 30px;
        margin-bottom: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section {
        width: 85%;

        margin-top: 30px;
        margin-bottom: 50px;
    }
}

/* Medium devices (landscape tablets, 830px and up) */
@media only screen and (min-width: 830px) {
    .section {
        width: 80%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1000px) {
    .section {
        width: 50%;
    }
}