.github-profile-img {

    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 380px;
    width: auto;

    margin-bottom: 40px;

}

.github-profile-img h2 {
    color: var(--white);
    font-weight: 800;
    font-size: var(--fs-xxl);
}



.github-profile-img img {
    border-radius: 50%;
    height: 265px;
    width: 265px;

    border: 8px solid var(--accent-color);
    box-shadow: 0px 0px 60px 0px var(--shadow);
    transition: all .2s ease 0s;
}

.github-profile-img img:hover {
    transform: scale(1.05);
}

.error-paragraph {
    color: var(--white);
}

.is-loading {
    color: var(--white);
}