.section {
    width: 55%;
    margin-top: 1.25em;
    margin-bottom: 3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.welcome {
    padding-bottom: 1em;
    font-size: var(--fs-xl);
    font-weight: 700;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}