.section {
    width: 60%;
    margin-top: 1.25em;
    margin-bottom: 3em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.welcome {
    padding-bottom: 1em;
    font-size: var(--fs-xl);
    font-weight: 700;
}