.container {
    margin-bottom: 1.4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: var(--secondary-background);
    width: 60%;
    border-radius: 10px;
    padding: 1.5em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    box-shadow: var(--shadow);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info p {
    font-size: var(--fs-300);
}

.mode {
    display: flex;
    align-items: center;
    gap: 1em;
}

.mode p {
    font-size: var(--fs-400);
}

.myEmail {
    text-decoration: underline;
}

.myEmail:hover {
    text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        margin: 0em;
    }

    .footer {
        width: 100%;
        padding: 1.4em;
        border-radius: 0;

        flex-direction: column;
        gap: 1.5em;
    }

    .info p {
        font-size: var(--fs-200);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        margin-bottom: 1.4em;
    }

    .footer {
        width: 90%;

        flex-direction: column;
        gap: 2em;
    }

    .info p {
        font-size: var(--fs-300);
    }
}

@media only screen and (min-width: 950px) {
    .footer {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        width: 70%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1450px) {
    .container {
        margin-bottom: 1.6em;
    }

    .footer {
        width: 60%;
        flex-direction: row;
        gap: 2em;
    }

    .info p {
        font-size: var(--fs-300);
    }
}