.navContainer {
    display: flex;
    justify-content: center;

    text-align: center;
    background: transparent;
}

.floatingNav {
    position: fixed;
    top: 0px;
    opacity: var(--opacity);
    z-index: 101;

    display: flex;
    justify-content: center;
    gap: 1em;

    min-width: 550px;

    /* top and bottom 2em */
    padding: 0em 2em;

    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    background-color: var(--secondary-background);
    box-shadow: var(--shadow);
}

.floatingNav a {
    font-size: var(--fs-300);
    padding: .8em 0;
    margin: 0.6em 0;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 100%;

    transition: 200ms background-color;
}

.floatingNav a:hover {
    background-color: var(--accent-color);
}

.active {
    background-color: var(--accent-color);
    font-weight: 800;
}

.transition {
    animation: navFloating .3s ease-in 0s forwards;
}

.transitionBack {
    animation: navNotFloating .3s ease-out 0s forwards;
}

@keyframes navFloating {
    0% {
        top: 0px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

    }

    100% {
        top: 10px;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }
}

@keyframes navNotFloating {

    /* 
        here we shouldn't start at 14px, cuz this class can be applied before the previous animation ends
        we sould start whereever the last animation ends (couldn't end)
        to check this bug scroll fast up and down and watch the navbar closely
    */
    0% {
        top: 10px;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
    }

    100% {
        top: 0px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .floatingNav {
        min-width: 100%;
        border-radius: 0;
        padding: 0 .5em;
        gap: 1em;
    }

    .floatingNav a {
        font-size: var(--fs-100);
        padding: 1em 0em;
        width: 100%;
    }

    .transition {
        animation: none;
    }

    .transitionBack {
        animation: none;
    }
}