.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 121px;
    text-align: center;
}

.floating-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;

    height: 88px;
    width: 550px;
    border-radius: 18px;

    background-color: var(--backgrounds);
    box-shadow: 0px 0px 50px 0px rgba(35, 35, 35, 0.89);
}

.floating-nav a {
    width: 154px;
    padding: 19.5px;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    transition: 200ms background-color;
}

.floating-nav a:hover {
    background-color: var(--purple);
}

.active {
    background-color: var(--purple);
    font-weight: 800;
}