/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap'); */

@font-face {
  font-family: 'Nunito';
  src: url(./assets/Fonts/Nunito/Nunito-VariableFont_wght.ttf) format('truetype');
}

:root {
  /* colors */
  --background: #2d2f2d;
  --secondary-background: #555555;
  --accent-color: #8a34da;
  --dark-accent: #791fcd;
  --white: #eee;
  --terminal: #41e421;
  --folder: #0aaae5;
  --file: #62ffe1;

  /* shadows */
  --shadow: 0px 0px 50px 0px rgba(22, 22, 22, 0.8);
  --shadow-hover: 0px 0px 70px 0px rgba(0, 0, 0, 0.9);

  --shadow-box: 0px 0px 30px 0px rgba(15, 15, 15, 0.85);
  --shadow-box-hover: 0px 0px 60px 0px rgba(0, 0, 0, 0.85);

  --image-shadow-hover: 0px 0px 50px 0px rgba(19, 19, 19, 0.884);



  /* font sizes */
  --fs-100: 1.2rem;
  --fs-200: 1.6rem;
  --fs-300: 1.8rem;
  --fs-400: 2rem;
  --fs-500: 2.2rem;
  --fs-600: 2.4rem;
  --fs-700: 2.6rem;
  --fs-xl: 3.2rem;
  --fs-xxl: 4.8rem;

}

[data-theme="glow"] {
  --background: #000000;
  --secondary-background: #5a5a5a4f;
  --accent-color: #3f009c;
  --dark-accent: #3b078a;
  --white: #cfcfcf;
  --box-border: 2px solid rgba(133, 133, 133, 0.7);

  /* shadow */
  --shadow: 0px 0px 25px 0px rgba(133, 133, 133, 0.753);


  --shadow-box: 0px 0px 10px 0px rgba(133, 133, 133, 0.85);
  --shadow-box-hover: 0px 0px 25px 0px rgba(189, 189, 189, 0.85);

  --image-shadow-hover: 0px 0px 50px 0px rgba(189, 189, 189, 0.6);

  /* text-shadow */
  --welcome-glow-100: 0px 0px 10px rgb(255, 255, 255);
  --welcome-glow-0: 0px 0px 0px rgba(255, 255, 255, 0.815);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  transition: background-color .5s ease 0s;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--background);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*

#151515
#F02323
#8a34da
#9c46eb
#30AD37
#98D528
#F2D8BC
#FFE7CF

*/