.info-card {
    display: flex;
    flex-direction: column;
}

.info-card code {
    align-self: self-start;
    position: relative;

    letter-spacing: 1px;
}

.info-card code span {
    position: absolute;
    right: -25px;
    top: 10%;

    width: 14px;
    height: 30px;

    background-color: var(--terminal);

    animation: cursor-blink 1.5s ease infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Extra small devices (0px and up) */
@media only screen and (min-width: 0px) {

    .info-card code span {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .info-card code span {
        display: block;
        position: absolute;
        width: 14px;
        height: 30px;
    }
}