.info-card {
    border-radius: 16px;
    padding: 20px 25px;


    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.info-card code {
    align-self: self-start;

    display: flex;
    align-items: center;
    gap: 10px;

    letter-spacing: 1px;
}

.info-card code span {
    width: 14px;
    height: 30px;

    background-color: var(--terminal);

    animation: cursor-blink 1.5s ease infinite;
}


.info-card p {
    font-size: var(--fs-700);
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}